
*{
    background-color: black;
  }
  
  div{
  font-family: "Libre Baskerville", serif;
  color: white;
  background-color: black;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  }

  h1{
    text-transform: uppercase;
  }

  #image{
    width: 100%;
    border: 5px solid white;
  }
